﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-light">
    <div class="text-center">
        <h1 class="display-4">Blog T1</h1>

    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.autor</h6>
                    <a href="/post/detalle?id=@item.Id" class="card-link">Leer más </a>
                </div>
            </div>
        }
    </div>    
</div>


