﻿@{
    ViewData["Title"] = "Detalle de Post";
}

<div class="text-center">
    <h1 class="display-4">@Model.Post.titulo</h1>
</div>

<div class="row col-md-6 offset-3 pt-4">
    <h4 class="display-4">Autor: @Model.Post.autor</h4>
    <h5>Fecha: @Model.Post.fecha</h5>
    <p>@Model.Post.contenido</p>
</div>

<div>

</div>


