﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog T1</h1>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center mt-3 mb-3">

            <div>
                @item.titulo
                <br />
                <small>@item.autor</small>
            </div>
            <a href="/post/detalle?id=@item.Id">Leer más </a>

        </div>}
</div>
